/* Minimal, Foundry-aligned styling for the GM Whisper control */

#xcard-btn-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0;
    /* margin: 0 4px; */
}
#xcard.ui-control.icon {
    transition: var(--ui-fade-delay);
}

#xcard.ui-control.icon:hover {
    background-color: var(--color-level-warning);
}
